*{
    margin: 0px;
}
.box-wrapper{
height: 100vh;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;
}
.box{
    width: 60px;
    height: 60px;
    background-color: blue;
}
.box2{
    background-color: red;
}